/*

* Override Pages default styles or create your own styles here

*/

.fs-20 {
  font-size: 20px !important;
}

.fs-25 {
  font-size: 25px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-50 {
  font-size: 50px !important;
}

.fs-60 {
  font-size: 60px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}


.text-medi {
  color: #08c1c5 !important;
}

.text-medi-dark {
  color: #28a2ae !important;
}

.lowercase {
	text-transform: lowercase;
	
}

.panel .panel-heading .panel-title-timeline {
  font-family: 'Montserrat';
 
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: 0px;
  filter: alpha(opacity=40);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.panel-group .panel-heading .panel-title-timeline {
  width: 100%;
}
.panel-group .panel-heading .panel-title-timeline > a {
  color: #626262;
  font-size: 13px;
  font-weight: normal;
  display: block;
  opacity: 1;
}
.panel-group .panel-heading .panel-title-timeline > a:hover {
  color: #626262 !important;
}
.panel-group .panel-heading .panel-title-timeline > a:hover:after {
  color: #626262 !important;
}
.panel-group .panel-heading .panel-title-timeline > a:after {
  font-family: 'FontAwesome';
  content: "\f077"; /*-- UP ARROW --*/
  position: absolute;
  right: 13px;
  top: 36%;
  color: #626262;
}
.panel-group .panel-heading .panel-title-timeline > a.collapsed {
  color: rgba(98, 98, 98, 0.7);
  opacity: 1;
}
.panel-group .panel-heading .panel-title-timeline > a.collapsed:after {
  content: "\f078"; /*-- DOWN ARROW --*/
  color: rgba(98, 98, 98, 0.7);
}



a {
  text-shadow: none !important;
  color: #28a2ae  !important;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}
a:focus,
a:hover,
a:active {
  color: #08c1c5  !important;
}
 a,
 a:focus,
 a:hover,
 a:active {
  outline: 0 !important;
  text-decoration: none;
}







.demo-table-caregiver_list thead th:nth-child(1) {
  width: 25% !important;
}
.demo-table-caregiver_list thead th:nth-child(2) {
  width: 15% !important;
}
.demo-table-caregiver_list thead th:nth-child(3) {
  width: 40% !important;
}
.demo-table-caregiver_list thead th:nth-child(4) {
  width: 5% !important; 
}
.demo-table-caregiver_list thead th:nth-child(5) {
  width: 5% !important;
}
.demo-table-caregiver_list thead th:nth-child(6) {
  width: 15% !important;
}
.demo-table-caregiver_list thead th:nth-child(7) {
  width: 5% !important;
}









.editApptModal .form-group{
	width: 100%;
}
.editApptModal .form-group .input-group-addon .pg-clock{
	cursor: pointer;
}
.editApptModal .date input, .editApptModal .time input{
	cursor: default;
}
.editApptModal .modal-footer button[type=submit]{
	margin-right: 12px;
}



