/* here you can put your own css to customize and override the theme */


.cta {
  z-index: 9999;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 60px;
  top:0px;
}


.cta a {
  text-shadow: none !important;
  color: #bcbcbc;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}

.cta a:focus,
.cta a:hover,
.cta a:active {
  color: #28a2ae;
}


.cta a,
.cta a:focus,
.cta a:hover,
.cta a:active {
  outline: 0 !important;
  text-decoration: none;
}